<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="index.xml" data-mc-path-to-help-system="../../" data-mc-conditions="Output.WebClient,Output.Mail Merge" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-medium="non-print" data-mc-toc-path="" data-mc-file-tags="Translation Status.Support files">
    <head>
        <meta charset="utf-8" />
        <meta name="classification" content="Saleslogix,Web,Help, 8.1,CRM,software" />
        <meta name="creator" content="Saleslogix User Assistance" />
        <meta name="copyright" content="Copyright © 1997-2014, SalesLogix, N.A, LLC. All rights reserved." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Deleting a Template</title>
        <link href="../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/TableStyles/Borders.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/SALESLOGIX.CSS" rel="stylesheet" />
        <script src="../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkTop"><a href="../../index.htm#Templates/Deleting_a_Template.htm">Open topic with navigation</a>
        </p>
        <h1><a name="kanchor749"></a>Deleting a Template</h1>
        <p>You can only delete private templates that you own. However, if the template has been released to others and is shared, your <span class="MyVariablesProduct Name">Saleslogix</span> administrator should remove the template.</p>
        <p class="Infinitive">To delete a template</p>
        <ol style="list-style-type: decimal;">
            <li class="Topic-Text-Numbered" value="1" data-mc-conditions="Output.WebClient">On the <span class="SLXBold">Write</span> menu, select <span class="SLXBold">Templates</span>.</li>
            <li value="2"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="1 bullets">Open the Manage Templates or Select a Template dialog box<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>.<ul style="list-style-type: disc; display: none;" data-mc-target-name="1 bullets"><li value="1">On the <span class="SLXBold">Write</span> menu, select <span class="SLXBold">Templates</span>.</li></ul></li>
            <li value="3">In the <span class="SLXBold">Manage Templates</span> dialog box, select a template from the list of <span class="SLXBold">Private Templates</span>, and then click <span class="SLXBold">Delete</span>.</li>
            <li value="4">Click <span class="SLXBold">OK</span> to close the message box.</li>
            <li value="5">In the <span class="SLXBold">Manage Templates</span> dialog box, do one of the following:<ul><li value="1">Select another private template to delete.</li><li value="2">Click <span class="SLXBold">Close</span> to close the dialog box.</li></ul></li>
        </ol>
        <p class="RelatedTopics">Related Topics</p>
        <p><a href="Editing_a_Template.htm">Editing a Template</a>
        </p>
        <p><a href="Creating_a_New_Template.htm">Creating a Template</a>
        </p>
        <p><a href="Copying_a_Template.htm">Copying a Template</a>
        </p>
        <p><a href="Templates_Overview.htm">Templates Overview</a>
        </p>
        <p>&#160;</p>
        <table style="caption-side: top;mc-table-style: url('../Resources/TableStyles/Borders.css');width: 100%;border-left-style: solid;border-left-width: 0px;border-left-color: #000000;border-right-style: solid;border-right-width: 0px;border-right-color: #000000;border-top-style: solid;border-top-width: 0px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;border-bottom-color: #000000;margin-left: 0;margin-right: auto;" class="TableStyle_Borders" cellspacing="0">
            <col style="width: 100%;" />
            <tbody>
                <tr data-mc-conditions="">
                    <td style="font-size: 8pt;border-left-style: solid;border-left-width: 0px;border-right-style: solid;border-right-width: 0px;border-top-style: solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;" class="TableStyle_Borders_Body_0_0_RowEnd_ColEnd">
                        <p style="font-family: Verdana;font-size: 8pt;"><a href="../General/feedback.htm">Tell us how we can make the Help better</a>.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>