<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="index.xml" data-mc-path-to-help-system="../../" data-mc-conditions="Output.WebClient,Output.Mail Merge" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-medium="non-print" data-mc-toc-path="" data-mc-file-tags="Translation Status.Support files">
    <head>
        <meta charset="utf-8" />
        <meta name="classification" content="Saleslogix,Web,Help, 8.1,CRM,software" />
        <meta name="creator" content="Saleslogix User Assistance" />
        <meta name="copyright" content="Copyright © 1997-2014, SalesLogix, N.A, LLC. All rights reserved." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Editing Merge Fields</title>
        <link href="../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/TableStyles/Borders.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/SALESLOGIX.CSS" rel="stylesheet" />
        <script src="../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkTop"><a href="../../index.htm#Templates/Editing_Merge_Fields.htm">Open topic with navigation</a>
        </p>
        <h1><a name="kanchor760"></a>Editing Merge Fields<a name="kanchor761"></a></h1>
        <p>You can use the Mail Merge Field Editor to edit new and existing merge fields. You
can view the template merge fields in the list view and your edit options in the
edit pane. You can also remove merge fields from the template by selecting the Remove
From Template button on the toolbar.</p>
        <p class="Infinitive">To edit merge fields</p>
        <ol style="list-style-type: decimal;">
            <li value="1">Open the <a href="Using_the_Template_Editor.htm">Template Editor</a>.</li>
            <li value="2">Click <span class="SLXBold">Edit Fields</span>.<br />The <span class="MyVariablesProduct Name">Saleslogix</span> Mail Merge Field Editor dialog box opens. The template merge fields display in the list view. The list view consists of the following columns:<ul><li value="1">Field - Displays the name of the merge field as it appears in the template and an icon that is associated with the field type.</li><li value="2">Type - Displays the merge field type.  Valid types are: Regular, Outlook Signature, Opportunity Product Table, SQL, and Custom.</li><li value="3">Position - Displays the numeric position of the field as it appears in the template.</li></ul></li>
            <li value="3">Highlight the merge field you want to edit in the List View.<br />Depending upon the merge field type, different edit options will display.</li>
        </ol>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="Regular bullets">Editing a Regular Mail Merge Field<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>
            </li>
        </ul>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="Regular bullets">
            <li class="Bullet3" value="1">Field Identifier - Allows you to change the text that appears in the template. The Field Identifier for a Regular mail merge field consists of the table and the display name. You can only change the display name.</li>
            <li class="Bullet3" value="2">Format Type - Allows you to change the type of formatting that is applied to the selected merge field. For example, fixed, integer, percent, or currency.</li>
            <li class="Bullet3" value="3">Format String - Allows you to format the value displayed in merge field. You must set the format type before adding a format string. Valid string formats depend on the format type you select.</li>
            <li class="Bullet3" value="4">Text Before - Allows you to enter text that will appear before the selected merge field.</li>
            <li class="Bullet3" value="5">Text After - Allows you to enter text that will appear after the selected merge field.</li>
            <li class="Bullet3" value="6">Special Format - Allows you to apply special character formatting to the merge field (including text that appears before and after a merge field).</li>
            <li class="Bullet3" value="7">Table - Displays the table associated with the database field. If the database field is the result of a join, then the caption for this option will read "Main Table".</li>
            <li class="Bullet3" value="8">Field - Displays the database field. If the database field is the result of a join, then the caption for this option will read "Key Field".</li>
            <li class="Bullet3" value="9">Calculated - Displays whether or not the field is a calculated value.</li>
            <li class="Bullet3" value="10">Join - Displays whether or not the field is the result of a database join.</li>
            <li class="Bullet3" value="11">Preserve Character Formatting: Allows you to preserve character formatting during a merge.</li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="OutlookSign">Editing a Outlook Signature Field<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>
            </li>
        </ul>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="OutlookSign">
            <li class="Bullet3" value="1">Field Identifier -Allows you to change the text that appears in the template.</li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="OppProd">Editing a Opportunity Product Field<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>
            </li>
        </ul>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="OppProd">
            <li class="Bullet3" value="1">Field Identifier -Allows you to change the text that appears in the template.</li>
            <li class="Bullet3" value="2">Table Format - Allows you to apply formatting to a table field.</li>
            <li class="Bullet3" value="3">Options - Allows you to apply properties to a table format.</li>
            <li class="Bullet3" value="4">Auto Fit - Allows you to set auto fit properties to the table.</li>
            <li class="Bullet3" value="5">Sum Text -Allows you to enter text to be used as a label for the extended price sum</li>
            <li class="Bullet3" value="6">of products in the table.</li>
            <li class="Bullet3" value="7"><a href="Editing_Columns.htm">Edit Table Columns</a> - Allows you to edit table column captions, width, and alignment.</li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="Custom">Editing a Custom Field<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>
            </li>
        </ul>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="Custom">
            <li class="Bullet3" value="1">Field Identifier - Allows you to change the text that appears in the template.</li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="Table">Editing a Table Field<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>
            </li>
        </ul>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="Table">
            <li class="Bullet3" value="1">Field Identifier -Allows you to change the text that appears in the template.</li>
            <li class="Bullet3" value="2">SQL - Allows you to enter a SELECT statement to request data from the OLE DB provider.</li>
            <li class="Bullet3" value="3">All columns and rows are used to create the table.</li>
            <li class="Bullet3" value="4">Format As - Allows you to change the merge field type.</li>
            <li class="Bullet3" value="5">Table Format - Allows you to apply formatting to a table field.</li>
            <li class="Bullet3" value="6">Options - Allows you to apply properties to a table format.</li>
            <li class="Bullet3" value="7">Auto Fit - Allows you to set auto fit properties to the table.</li>
            <li class="Bullet3" value="8"><a href="Editing_Columns.htm">Edit Table Columns</a> - Allows you to edit table column captions, width, and alignment.</li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="Bullet;bullet p;bullet 3">Editing a Bulleted List<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>
            </li>
        </ul>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="Bullet">
            <li class="Bullet3" value="1">Field Identifier - Allows you to change the text that appears in the template.</li>
            <li class="Bullet3" value="2">SQL - Allows you to enter a SELECT statement to request data from the OLE DB provider. Only the record(s) of the first column will display.</li>
        </ul>
        <p class="TopicTextIndent3" style="display: none;" data-mc-target-name="bullet p">Click the Edit button to open the <a href="Editing_SQL.htm">Edit SQL</a> dialog box.</p>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="bullet 3">
            <li class="Bullet3" value="1">Format As - Displays the merge field type.</li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="javascript:void(0);" class="MCToggler MCTogglerHead MCTogglerHotSpot MCToggler_Open toggler MCTogglerHotSpot_" data-mc-targets="Numbered-12;Numbered 3;Numbered P">Editing a Numbered List<img class="MCToggler_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a>
            </li>
        </ul>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="Numbered-12">
            <li class="Bullet3" value="1">Field Identifier - Allows you to change the text that appears in the template.</li>
            <li class="Bullet3" value="2">SQL - Allows you to enter a SELECT statement to request data from the OLE DB provider. Only the record(s) of the first column will display.</li>
        </ul>
        <p class="TopicTextIndent3" style="display: none;" data-mc-target-name="Numbered P">Click the Edit button to open the <a href="Editing_SQL.htm">Edit SQL</a> dialog box.</p>
        <ul style="list-style-type: disc; display: none;" data-mc-target-name="Numbered 3">
            <li class="Bullet3" value="1">Format As - Displays the merge field type.</li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="Editing_SQL_Text_Fields.htm">Editing a Text Field</a>
            </li>
        </ul>
        <ul style="list-style-type: disc;">
            <li class="Topic-Text-Bulleted-2" value="1"><a href="Editing_SQL_Image_Fields.htm">Editing an Image Field</a>
            </li>
        </ul>
        <ol style="list-style-type: decimal;">
            <li value="4">Click <span class="SLXBold">Apply</span> after making your edits.</li>
            <li value="5">When prompted, click <span class="SLXBold">Yes</span> to save the changes.</li>
        </ol>
        <p class="RelatedTopics">Related Topics</p>
        <p><a href="Editing_SQL.htm">Editing SQL</a>
        </p>
        <p><a href="Deleting_Merge_Fields.htm">Deleting Merge Fields</a>
        </p>
        <p><a href="Inserting_Special_Fields.htm">Inserting Special Fields</a>
        </p>
        <div id="MCSlider1" class="MCSlider ">
            <div class="MCSlide slideshow">
                <p>What's New in this Release</p>
                <p>&#160;</p>
            </div>
            <div class="MCSlide slideshow">
                <p>Recently Updated Topics</p>
                <div class="TableTooBig">
                    <table style="width: 100%; caption-side: top; margin-left: auto; margin-right: 0;">
                        <col />
                        <col />
                        <col />
                        <col />
                        <col />
                        <tbody>
                            <tr>
                                <td><a href="../Reporting/Adding and Editing Report Conditions.htm">Adding and Editing Report Conditions</a>
                                </td>
                                <td><a href="../Activities/Scheduling_Editing_an_Activity.htm">Scheduling or Editing an Activity</a>
                                </td>
                                <td><a href="../Activities/alarmset.htm">Setting Reminders</a>
                                </td>
                                <td><a href="../Activities/addremoveactivitymembers.htm">Adding and Removing Activity Resources</a>
                                </td>
                                <td><a href="../Activities/Alarms_Tab.htm">Alarms Tab</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Adding, Editing or Copying Area, Category Issue ValuesManaging Area, Category, Issue Values</td>
                                <td><a href="../Activities/Alerts.htm">Using Alerts</a>
                                </td>
                                <td><a href="../Activities/completeunschedactivity.htm">Completing an Activity from the Menu</a>
                                </td>
                                <td>Completing a Mail Merge Activity</td>
                                <td><a href="../Activities/confirmactivity.htm">What are Activity Confirmations?</a>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="../Activities/deleteactivity.htm">Deleting an Activity</a>
                                </td>
                                <td>Meetings Tab</td>
                                <td><a href="../Activities/deleteactivity.htm">Deleting an Activity</a>
                                </td>
                                <td><a href="../Activities/Confirmations_Tab.htm">Confirmations Tab</a>
                                </td>
                                <td>Calls Tab</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="MCSlide slideshow">
                <p>This documentation was developed by <span class="MyVariablesCompanyNameFull">Saleslogix</span> User Assistance. For content revisions, questions, or comments, contact the <span class="MyVariablesCompanyNameFull">Saleslogix</span> writers at <span class="PrimaryTechPubEmail">saleslogix.techpubs@swiftpage.com</span>.
</p>
                <p>&#160;</p>
            </div>
        </div>
        <table style="caption-side: top;mc-table-style: url('../Resources/TableStyles/Borders.css');width: 100%;border-left-style: solid;border-left-width: 0px;border-left-color: #000000;border-right-style: solid;border-right-width: 0px;border-right-color: #000000;border-top-style: solid;border-top-width: 0px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;border-bottom-color: #000000;margin-left: 0;margin-right: auto;" class="TableStyle_Borders" cellspacing="0">
            <col style="width: 100%;" />
            <tbody>
                <tr data-mc-conditions="">
                    <td style="font-size: 8pt;border-left-style: solid;border-left-width: 0px;border-right-style: solid;border-right-width: 0px;border-top-style: solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;" class="TableStyle_Borders_Body_0_0_RowEnd_ColEnd">
                        <p style="font-family: Verdana;font-size: 8pt;"><a href="../General/feedback.htm">Tell us how we can make the Help better</a>.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&#160;</p>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../index.htm#Templates/Editing_Merge_Fields.htm">Open topic with navigation</a>
        </p>
    </body>
</html>