<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="index.xml" data-mc-path-to-help-system="../../" data-mc-conditions="Output.WebClient,Output.Mail Merge" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-medium="non-print" data-mc-toc-path="" data-mc-file-tags="Translation Status.Support files">
    <head>
        <meta charset="utf-8" />
        <meta name="classification" content="Saleslogix,Web,Help, 8.1,CRM,software" />
        <meta name="creator" content="Saleslogix User Assistance" />
        <meta name="copyright" content="Copyright © 1997-2014, SalesLogix, N.A, LLC. All rights reserved." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Setting Merge Field Format</title>
        <link href="../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/TableStyles/Borders.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/SALESLOGIX.CSS" rel="stylesheet" />
        <script src="../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkTop"><a href="../../index.htm#Templates/Setting_Merge_Field_Format.htm">Open topic with navigation</a>
        </p>
        <h1><a name="kanchor766"></a>Setting Merge Field Format</h1>
        <p>Use the Format <span class="MyVariablesProduct Name">Saleslogix</span> Field dialog box to set the format type and format string
for a <span class="MyVariablesProduct Name">Saleslogix</span> merge field.</p>
        <table wrapperparagraphselector="P" style="width: 80%;margin-top: 14pt;border-spacing: 0px;border-spacing: 0px;" cellspacing="0" width="80%">
            <col style="width: 45px;" />
            <col />
            <tr>
                <td style="padding-left: 6px;padding-top: 6px;padding-right: 6px;padding-bottom: 6px;" valign="top">
                    <p style="text-align: center;margin-bottom: 0;" align="center">
                        <img src="../image/note.gif" />
                    </p>
                </td>
                <td style="width: 90%;padding-left: 6px;padding-top: 6px;padding-right: 6px;padding-bottom: 6px;" valign="top" width="90%">
                    <p class="Tip-Note-Text" style="margin-bottom: 0;">The default Field Format for most text fields is None. However, if the field contains
numeric information, a phone number, currency, a true/false value, or other data,
change the Field Format to match the type of information. Look at the options in
the Field Format list to select a match for the type of data you are using.</p>
                    <div class="MCDropDown MCDropDown_Open dropDown"><span class="MCDropDownHead dropDownHead"><a href="javascript:void(0);" class="MCDropDownHotSpot dropDownHotspot MCDropDownHotSpot_">Show me examples<img class="MCDropDown_Image_Icon" src="../../Skins/Default/Stylesheets/Images/transparent.gif" alt="Closed" data-mc-alt2="Open" /></a></span>
                        <div class="MCDropDownBody dropDownBody">
                            <ul style="list-style-type: disc;">
                                <li value="1">Select Date as a format type, then you would type the format string as  mm/dd/yyyy.</li>
                                <li value="2">The User format type will format a USERID as “LastName, FirstName” by default, and when you use the FormatString “FL” it will format the USERID as “FirstName LastName”.</li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <p class="Infinitive">To set the merge field format</p>
        <ol style="list-style-type: decimal;">
            <li value="1">In the <span class="SLXBold">Format <span class="MyVariablesProduct Name">Saleslogix</span> Field</span> dialog box, select a type from the <span class="SLXBold">Format Type</span> list.</li>
            <li value="2">In the <span class="SLXBold">Format String</span> box, type the string needed for the format type.</li>
            <li value="3">Click <span class="SLXBold">OK</span>.</li>
        </ol>
        <p class="RelatedTopics">Related Topics</p>
        <p><a href="Using_Sage_SalesLogix_Merge_Fields.htm">Using <span class="MyVariablesProduct Name">Saleslogix</span> Merge Fields</a>
        </p>
        <p><a href="Customizing_Insert_SLX_Field_Menu.htm">Customizing Insert SLX Field Menu</a>
        </p>
        <p>&#160;</p>
        <table style="caption-side: top;mc-table-style: url('../Resources/TableStyles/Borders.css');width: 100%;border-left-style: solid;border-left-width: 0px;border-left-color: #000000;border-right-style: solid;border-right-width: 0px;border-right-color: #000000;border-top-style: solid;border-top-width: 0px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;border-bottom-color: #000000;margin-left: 0;margin-right: auto;" class="TableStyle_Borders" cellspacing="0">
            <col style="width: 100%;" />
            <tbody>
                <tr data-mc-conditions="">
                    <td style="font-size: 8pt;border-left-style: solid;border-left-width: 0px;border-right-style: solid;border-right-width: 0px;border-top-style: solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;" class="TableStyle_Borders_Body_0_0_RowEnd_ColEnd">
                        <p style="font-family: Verdana;font-size: 8pt;"><a href="../General/feedback.htm">Tell us how we can make the Help better</a>.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>