<!DOCTYPE html>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" lang="en-us" xml:lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="index.xml" data-mc-path-to-help-system="../../" data-mc-conditions="Output.Mail Merge,Output.WebClient" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-medium="non-print" data-mc-toc-path="" data-mc-file-tags="Translation Status.Support files">
    <head>
        <meta charset="utf-8" />
        <meta name="classification" content="Saleslogix,Web,Help, 8.1,CRM,software" />
        <meta name="creator" content="Saleslogix User Assistance" />
        <meta name="copyright" content="Copyright © 1997-2014, SalesLogix, N.A, LLC. All rights reserved." />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>Using the Fax Editor</title>
        <link href="../Resources/TableStyles/TableStyle.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" />
        <link href="../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" />
        <link href="../Resources/TableStyles/Borders.css" rel="stylesheet" />
        <link href="../Resources/Stylesheets/SALESLOGIX.CSS" rel="stylesheet" />
        <script src="../../Resources/Scripts/custom.modernizr.js">
        </script>
        <script src="../../Resources/Scripts/jquery.min.js">
        </script>
        <script src="../../Resources/Scripts/foundation.min.js">
        </script>
        <script src="../../Resources/Scripts/plugins.min.js">
        </script>
        <script src="../../Resources/Scripts/require.min.js">
        </script>
        <script src="../../Resources/Scripts/require.config.js">
        </script>
        <script src="../../Resources/Scripts/MadCapAll.js">
        </script>
    </head>
    <body>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkTop"><a href="../../index.htm#Templates/Using_the_Fax_Editor.htm">Open topic with navigation</a>
        </p>
        <h1><a name="kanchor775"></a>Using the Fax Editor</h1>
        <p>With the Fax Editor window you can create a new Fax template or edit an existing
template.  Like the E-Mail and Letter Editors, the Fax Editor contains a <span class="MyVariablesProduct Name">Saleslogix</span>
toolbar which give you access to the special template functions as well as many Microsoft
Word features.


</p>
        <p>The Fax Editor view displays the following options when editing or creating a template:</p>
        <table style="width: 90%;mc-table-style: url('../Resources/TableStyles/TableStyle.css');margin-left: auto;margin-right: auto;" class="TableStyle-TableStyle" cellspacing="0">
            <thead>
                <tr class="Head-Header1">
                    <th class="HeadE-Column1-Header1">Box</th>
                    <th class="HeadD-Column1-Header1">Description/Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1"><a href="Using_Sage_SalesLogix_Merge_Fields.htm">Insert SLX&#160;Field</a>
                    </td>
                    <td class="BodyD-Column1-Body1">Click to display a menu with commonly used <span class="MyVariablesProduct Name">Saleslogix</span> merge fields.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1"><a href="Attaching_or_Removing_Template_Files.htm">Insert File</a>
                    </td>
                    <td class="BodyD-Column1-Body1">This option is only available for an E-mail template.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1"><a href="Attaching_or_Removing_Template_Files.htm">Insert Library File</a>
                    </td>
                    <td class="BodyD-Column1-Body1">This option is only available for an E-mail template.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Save and Close</td>
                    <td class="BodyD-Column1-Body1">Click to save the changes made to the template and close the template editor.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Save</td>
                    <td class="BodyD-Column1-Body1">Click to save the changes made to the template but leave the template editor window
open.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Show</td>
                    <td class="BodyD-Column1-Body1">This option is only available for an E-mail template.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Message Format</td>
                    <td class="BodyD-Column1-Body1">This option is only available for an E-mail template.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Preview</td>
                    <td class="BodyD-Column1-Body1">Click to view the template as it would be merged with the current record.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">SLX&#160;Mail Merge</td>
                    <td class="BodyD-Column1-Body1">Click to launch a Mail Merge.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Fax Subject</td>
                    <td class="BodyD-Column1-Body1">Click to enter a subject for the fax template.  When performing a mail merge to
this template and selecting Output to Fax, the subject line of the Mail Merge
will auto-populate with text from the template's subject line.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Show Word Menu</td>
                    <td class="BodyD-Column1-Body1">Click to display the Microsoft Word Menu.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Edit Fields</td>
                    <td class="BodyD-Column1-Body1">Click to open the <a href="Editing_Merge_Fields.htm"><span class="MyVariablesProduct Name">Saleslogix</span> Mail Merge Field Editor</a> window.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyE-Column1-Body1">Insert Special Field</td>
                    <td class="BodyD-Column1-Body1">Click to insert a new opportunity product table, SQL statement, or custom mail merge
field into the template.</td>
                </tr>
                <tr class="Body-Body1">
                    <td class="BodyB-Column1-Body1"><a href="Email_Options.htm">E-mail Options</a>
                    </td>
                    <td class="BodyA-Column1-Body1">This option is only available for an E-mail template.</td>
                </tr>
            </tbody>
        </table>
        <p class="RelatedTopics">Related Topics</p>
        <p><a href="Using_the_E-mail_Editor.htm">Using the E-mail Editor</a>
        </p>
        <p><a href="Using_the_Letter_Editor.htm">Using the Letter Editor</a>
        </p>
        <p><a href="Editing_a_Template.htm">Editing a Template</a>
        </p>
        <p class="UpdatedOn" data-mc-conditions="Hosted.Updated">Content updated on: <span class="SystemShortDate">6/23/2014</span></p>
        <p>
        </p>
        <table style="caption-side: top;mc-table-style: url('../Resources/TableStyles/Borders.css');width: 100%;border-left-style: solid;border-left-width: 0px;border-left-color: #000000;border-right-style: solid;border-right-width: 0px;border-right-color: #000000;border-top-style: solid;border-top-width: 0px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;border-bottom-color: #000000;margin-left: 0;margin-right: auto;" class="TableStyle_Borders" cellspacing="0">
            <col style="width: 100%;" />
            <tbody>
                <tr data-mc-conditions="">
                    <td style="font-size: 8pt;border-left-style: solid;border-left-width: 0px;border-right-style: solid;border-right-width: 0px;border-top-style: solid;border-top-width: 1px;border-top-color: #000000;border-bottom-style: solid;border-bottom-width: 0px;" class="TableStyle_Borders_Body_0_0_RowEnd_ColEnd">
                        <p style="font-family: Verdana;font-size: 8pt;"><a href="../General/feedback.htm">Tell us how we can make the Help better</a>.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../index.htm#Templates/Using_the_Fax_Editor.htm">Open topic with navigation</a>
        </p>
    </body>
</html>